
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f4f8;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    
    .calculator {
      background: #504141;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 300px;
    }
    .display {
      width: 93%;
      height: 50px;
      background: #dde2e6;
      border: none;
      border-radius: 5px;
      font-size: 1.5rem;
      text-align: right;
      padding: 5px 12px;
      margin-bottom: 15px;
    }
    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 14px;
    }
    button {
      height: 50px;
      font-size: 1.2rem;
      border: none;
      border-radius: 5px;
      background: #090909;
      color: rgb(95, 124, 251);
      cursor: pointer;
      transition: background 0.2s;
    }
    button:hover {
      background: #5ee793ac;
    }
    .operator {
      background: #88dedaea;
    }
    .operator:hover {
      background: #0b0906;
    }
  